@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1300px !important;
    }
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../Font/Proxima/ProximaNova-Regular.ttf");
}

@font-face {
    font-family: "Proxima Nova semibold";
    src: url("../Font/Proxima/ProximaNova-Semibold.ttf");
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.conMain {
    padding: 0px 38px;
}

.pAll {
    font-family: Proxima Nova semibold, sans-serif;
    color: #212121;
    font-size: 1.5rem;
}

.pFilter {
    font-family: Proxima Nova semibold, sans-serif;
    color: #212121;
    font-size: 1rem;
    margin-top: 14px;
    margin-right: 10px;
}

.pResults {
    font-family: Proxima Nova, sans-serif;
    color: #212121;
    font-size: 0.9rem;
}

.dropdown {
    list-style: none;
    background: #ffffff;
    padding: 10px;
    display: inline-block;
    float: right;
}

.dropdown .nav-link {
    color: #fff;
    text-decoration: none;
}

.dropdown .dropdown-menu a {
    color: #000;
    text-decoration: none;
}

.dropdown .btn {
    font-family: Proxima Nova Semibold;
    background: #ffffff;
    color: #212121;
    border: 0px;
    outline: none !important;
    box-shadow: none !important;
    width: 250px;
}

.dropdown .btn:active {
    background: #ffffff !important;
    color: #000;
}

.dropdown .btn:focus {
    background: #ffffff !important;
    color: #000;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 9px;
}

.imgItem {
    width: 150px;
    height: 150px;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}

.card {
    border: 0px;
    height: auto !important;
    background-color: #eff0f4;
}

.card-title {
    font-family: Proxima Nova Semibold;
    color: #212121;
    font-size: 1rem;
}

.card-text {
    font-family: Proxima Nova;
    color: #212121;
    font-size: 0.9rem;
    font-weight: 500;
}

.card-body {
    background-color: #ffffff;
}

.divImageCard {
    background-color: #eff0f4;
    height: 200px;
    position: relative;
}

.txtSearch {
    font-family: Proxima Nova;
    border: 1px solid #212121;
    width: 100%;
    padding: 8px 20px;
    padding-right: 40px;
    background: url(../Image/searchblack.png) no-repeat 94.25% 13px white;
}

.pCategory {
    font-family: Proxima Nova Semibold;
    color: #212121;
    margin-top: 40px;
    font-size: 1.2rem;
    margin-bottom: 7px;
}

.divCategory {
    margin-top: 8px;
}

.pCategoryList {
    font-family: Proxima Nova Semibold;
    color: #212121;
    font-size: 0.9rem;
    line-height: 3.5mm;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.pCategoryList:hover {
    color: #e83b4f;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 999999;
}

.addCard {
    background-color: #e83b4f;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.divImageCard:hover img {
    opacity: 0.3;
}

.divImageCard:hover .middle {
    opacity: 1;
}